/* _variables.scss */
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

$primary-color: #2c3e50;
$secondary-color: #e74c3c;
$font-family: 'Arial', sans-serif;
$primary-font-family: 'Quantico', sans-serif;
$primary-text-color: rgb(12, 12, 97);

$hover-color: #005bbf;
$border-color: #ddd;
$bg-color: #fff;
$font-stack: 'Quantico', sans-serif;

