/* src/components/Header/Header.scss */

@import '../../styles/variables';  // Adjust the path based on where _variables.scss is located

// src/components/Header/Header.scss

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .portfolio {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .wallet-info {
    margin-right: 10px;
  }
  
  .profile-icon {
    font-size: 24px;
    cursor: pointer;
  }
  
  button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #0078a0;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .wallet-selector {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .wallet-selector button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .wallet-selector button:hover {
    background-color: #218838;
  }
  
  .wallet-info span {
    font-size: 14px;
    color: #ccc;
  }
  